.ItemsListRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
}

.ItemsListRow-text {
  flex-grow: 1;
  text-align: left;
  padding: 0 5px;
}

.ItemsListRow-text--done {
  text-decoration: line-through;
  color: gray;
}
