.ItemsList-container {
  margin-top: 10px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.ItemList-completedVisibilityToggle--active {
  background-color: #2e80de;
}
